<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accela.esportsman" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDIjHG2VC22AsTgKzvoMLzNBvftRoG1jro" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LandingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationListActivity"
            android:label="@string/title_activity_location_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8869185b307586cc0c783466d2f0a40f68ad520b" />

        <activity
            android:name=".activity.HarvestReportFormActivity"
            android:label="@string/title_activity_harvest_report_form"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LicenseListActivity"
            android:label="@string/title_activity_license_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LicenseDetailActivity"
            android:label="@string/title_activity_license_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ReportSumitCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportsListActivity"
            android:label="@string/title_activity_report_form_list" >
        </activity>
        <activity
            android:name=".activity.ReportDetailActivity"
            android:label="@string/title_activity_report_detail" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider494563734054382"
            android:exported="true" />

        <activity
            android:name=".activity.FacebookIntegration"
            android:label="@string/title_activity_facebook_integration" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OverlayTutorialActivity"
            android:label="@string/title_activity_overlay_tutorial"
            android:theme="@style/Theme.Transparent">
        </activity>
    </application>

</manifest>
